*{padding:0;margin:0}

*::-webkit-scrollbar {
    height: 12px;
    width: 4px;
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.8);
	border-radius: 2px;
}

*::-webkit-scrollbar-corner {
    background: #000;
}

*::-webkit-scrollbar-track{
	margin-top:10px;
	margin-bottom:10px;
}

html{
	scroll-behavior: smooth !important;
}

body, .application-wrapper{
	width: 100%;
	height: 100vh;
}

.application-wrapper{
	background:var(--primary-color);
	position:relative;
	--primary-color: black;
	--secondary-color: #111;
	--secondary-color-transparent: #1119;
	--secondary-color-transparent-identical-on-primary: #22222280;
	--primary-color-transparent: #0008;
	/*--secondary-color: #252525; Brighter secondary so I can see better */
	--side-panel-width: 0px; /* for a smaller version set this to 64px */
	--side-panel-extended-width: 215px;
	--side-panel-compact-width: 76px;
	--side-panel-margin: 0px;
	--bottom-panel-height: 64px;
	--bottom-panel-hidden: 0;
	--bottom-panel-visible: 1;
	--side-panel-opacity: 50%;
	--message-box-height: 20px;
	--chat-box-message-container-border-bottom-size: 0px;
	--chat-title-bar-background: linear-gradient(180deg, var(--secondary-color) 5%, transparent);
	--chat-title-bar-padding-top: 0px;
	overflow-y:hidden;
	min-width:640px;
	min-height:320px;
}

.application-wrapper.loading{
	pointer-events:none;
}

.application-wrapper.loading > .h-wrapper > .page-view > .chat-page-wrapper{opacity:0%;}

.h-wrapper{
	display:flex;
	padding:10px;
	width:calc(100% - 20px);
	height:calc(100% - 20px - var(--bottom-panel-height) * var(--bottom-panel-visible));
	transition:height 0.2s ease;
	position:relative;
}

.material-symbols-outlined{color:white;font-size:24px;user-select:none;transition:color 0.2s ease, transform 0.2s ease;}

.button-icon > .material-symbols-outlined{cursor:pointer;color:lightgray}
.button-icon > .material-symbols-outlined:hover{color:white;transform:scale(1.05)}

.button-icon{height:24px}

.application-wrapper.side-panel-visible{
	--side-panel-extended-width: 360px;
	--side-panel-width: var(--side-panel-extended-width);
	--side-panel-margin: 10px;
	--side-panel-opacity: 100%;
}

.application-wrapper.side-panel-visible.side-panel-compact{
	--side-panel-extended-width:215px;
	--side-panel-width: var(--side-panel-compact-width);
	--side-panel-margin: 10px;
}

.application-wrapper.bottom-panel-hidden{
	--bottom-panel-hidden: 1;
	--bottom-panel-visible: 0;
}

.side-panel-hover-zone{
	position:absolute;
	height:100vh;
	width:240px;
	left:0;
	top:0;
	z-index:2;
	pointer-events:none;
}

.side-panel-wrapper{
	overflow:hidden;
	height:100%;
	z-index:2;
	width:var(--side-panel-width);
	background:var(--secondary-color);
	transition: transform 0.2s ease, width 0.2s ease, margin 0.2s ease, opacity 0.2s ease, background 0.2s ease;
	border-radius:10px;
	margin-right:var(--side-panel-margin);
	opacity:var(--side-panel-opacity);
	position:relative;
}

.side-panel-drag-handle{
	opacity:0%;
	transition:opacity 0.2s ease, left 0.2s ease, height 0.2s ease, border-radius 0.2s ease, top 0.2s ease;
	cursor: e-resize;
	width:10px;
	position:absolute;
	height:calc(100% - 20px);
	top:10px;
	/*background:#0d0d0d;*/
	left:-10px;
	display:flex;
	align-items:center;
	justify-content: center;
	overflow:hidden;
	border-radius:5px;
	z-index:2;
}

.application-wrapper.loading > .h-wrapper > .page-view > .side-panel-drag-handle,
.side-panel-drag-handle:hover, .side-panel-drag-handle.held{
	opacity:100%;
}

.application-wrapper:has(.held){
	cursor:e-resize;
	user-select:none;
}

.side-panel{
	min-width:var(--side-panel-extended-width);
}

.page-view{
	border-radius:10px;
	width:calc(100% - var(--side-panel-width) - var(--side-panel-margin) - 20px);
	height:calc(100% - 20px);
	transition:width 0.2s ease, height 0.2s ease, right 0.2s ease, top 0.2s ease, border-radius 0.2s ease, background 0.2s ease;
	/*background:linear-gradient(130deg, #111, var(--primary-color));*/
	background-color:var(--secondary-color);
	position:absolute;
	right:10px;
	top:10px;
}

.application-wrapper.page-view-full-screen, .application-wrapper.page-view-full-screen.side-panel-compact{
	--side-panel-width: 0px;
	--side-panel-extended-width: 0px;
	--side-panel-compact-width: 0px;
	--side-panel-opacity: 0%;
	--chat-box-message-container-border-bottom-size: 60px;
	--chat-title-bar-background: linear-gradient(180deg, var(--primary-color), transparent);
	--chat-title-bar-padding-top: 10px;
}.page-view-full-screen > .h-wrapper > .page-view{
	width:100%;
	right:0px;
	top:0px;
	border-radius:0px;
	background-color:var(--primary-color);
	height:100vh;
}.page-view-full-screen > .bottom-panel > .user-details-wrapper{margin-right:0px;opacity:0%;padding-bottom:10px;height:calc(100% - 10px);}
 .page-view-full-screen > .bottom-panel > .message-controls-wrapper{transform:translateY(5px);width: calc(100% - var(--side-panel-extended-width) - 15px);margin-left:30px;margin-right:30px;}
 .page-view-full-screen:has(.side-panel-drag-handle:hover) > .h-wrapper > .side-panel-wrapper,
 .application-wrapper.loading > .h-wrapper > .side-panel-wrapper,
 .page-view-full-screen:has(.side-panel-drag-handle.held) > .h-wrapper > .side-panel-wrapper,
 .page-view-full-screen:has(.side-panel-wrapper:hover) > .h-wrapper > .side-panel-wrapper,
 .page-view-full-screen:has(.side-panel-hover-zone:hover) > .h-wrapper > .side-panel-wrapper,
 .page-view-full-screen:has(.user-details-wrapper:hover) > .h-wrapper > .side-panel-wrapper {opacity:100%;width:var(--side-panel-extended-width);}

 .page-view-full-screen:has(.side-panel-drag-handle:hover) > .side-panel-hover-zone,
 .application-wrapper.loading > .side-panel-hover-zone,
 .page-view-full-screen:has(.side-panel-drag-handle.held) > .side-panel-hover-zone,
 .page-view-full-screen:has(.side-panel-wrapper:hover) > .side-panel-hover-zone,
 .page-view-full-screen:has(.side-panel-hover-zone:hover) > .side-panel-hover-zone,
 .page-view-full-screen:has(.user-details-wrapper:hover) > .side-panel-hover-zone {pointer-events:all;}

.page-view-full-screen > .h-wrapper > .side-panel-wrapper{
	box-shadow: rgb(6 7 8 / 48%) 6px 2px 16px 0px, rgb(0 0 0 / 80%) -6px -2px 16px 0px;background:var(--secondary-color-transparent);backdrop-filter:blur(10px);
}

.page-view-full-screen > .h-wrapper > .page-view > .side-panel-drag-handle{left:0;height:100vh;top:0;border-radius:0px;}

.page-view-full-screen:has(.side-panel-drag-handle:hover),
.page-view-full-screen:has(.side-panel-drag-handle.held),
.page-view-full-screen:has(.side-panel-wrapper:hover),
.page-view-full-screen:has(.side-panel-hover-zone:hover),
.application-wrapper.loading,
.page-view-full-screen:has(.user-details-wrapper:hover)
{--side-panel-extended-width:215px;}

.page-view-full-screen:has(.side-panel-hover-zone:hover) > .bottom-panel > .user-details-wrapper,
.page-view-full-screen:has(.side-panel-drag-handle:hover) > .bottom-panel > .user-details-wrapper,
.page-view-full-screen:has(.side-panel-drag-handle.held) > .bottom-panel > .user-details-wrapper,
.page-view-full-screen:has(.side-panel-wrapper:hover) > .bottom-panel > .user-details-wrapper,
.page-view-full-screen:has(.user-details-wrapper:hover) > .bottom-panel > .user-details-wrapper{
	opacity: 100%;
}

.chat-page-wrapper{
	height:100%;
	width:100%;
	border-radius:10px;
	position:relative;
	overflow-x:hidden;
	overflow-y:auto;
	display:flex;
	align-items:center;
	flex-direction:column;
	transition:opacity 0.3s ease;
}
 
.chat-page{
	width:calc(100% - 60px);
	max-width:85vw;
	padding-left:10px;
	padding-right:10px;
	display:flex;
	flex-direction:column;
	position:relative;
	border-radius:10px;
	padding-bottom:calc(10px + var(--chat-box-message-container-border-bottom-size));
	opacity:100%;
	transition:padding 0.2s ease;
}

.chat-page-titlebar{
    width: 100%;
    min-height: calc(var(--bottom-panel-height) + 20px);
    background: var(--chat-title-bar-background);
    position: sticky;
    top: 0px;
    padding-top: var(--chat-title-bar-padding-top);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1;
    display: flex;
    justify-content: center;
    transition: padding 0.2s ease;
	margin-bottom:10px;
}

.chat-page-titlebar-content{
	background: var(--primary-color);
    backdrop-filter: blur(10px);
    max-width: 960px;
    width: calc(100% - 60px);
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
    position: absolute;
    top: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.titlebar-content-user-profile-picture{
	display: flex;
	align-items:center;
	height:54px;
	width:54px;
	margin-left:10px;
}

.titlebar-content-user-profile-picture > img{
	height:52px;
	width:52px;
	object-fit:cover;
	border-radius:50%;
	border:1px solid var(--primary-color);
	-webkit-user-drag: none;
	user-select: none;
}

.titlebar-content-user-name-status-wrapper{
	display:flex;
	flex-direction:column;
	gap:5px;
}

.titlebar-content-user-name{
	color:white;
	font-family:arial;
	user-select:none;
	font-weight:600;
}

.titlebar-content-user-status{
	color:gray;
	font-weight:100;
	font-family:arial;
	user-select:none;
	font-size:12px;
}

.chat-page-message-container{
	width:calc(100% - 20px);
	padding:10px;
	padding-top:30px;
	display:flex;
	flex-direction:column;
	transition:padding 0.2s ease;
}

.chat-page-message{
	color:white;
	font-family:arial;
	font-size:16px;
	padding:15px;
	width: fit-content;
    /*max-width: 33vw;*/
	line-height:20px;
    word-wrap: break-word;
}

.bottom-panel{
	width: 100%;
	height: var(--bottom-panel-height);
	transition: transform 0.2s ease;
	background:var(--primary-color-transparent);
	display:flex;
	transform:translateY(calc(var(--bottom-panel-hidden) * 100%));
	z-index:4;
	position:relative;
	background:linear-gradient(0deg, var(--primary-color) 60%, transparent);
}

.user-details-wrapper{
	height:calc(100% - 18px);
	width:var(--side-panel-extended-width);
	display:flex;
	padding-right: 10px;
	transition:opacity 0.2s ease, padding 0.2s ease, margin 0.2s ease, width 0.2s ease, transform 0.2s ease, height 0.2s ease;
	overflow:hidden;
	padding-bottom:18px;
}

.user-details-card{
	margin-left:10px;
	width:calc(100% - 54px);
	display:flex;
	align-items:center;padding:10px;gap:10px;
}

.user-name{
	color: white;
    font-family: arial;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	user-select:none;
}

.user-details-actions{
	display:flex;
	align-items:center;
	justify-content: flex-end;
}

.chat-header{
	background:var(--secondary-color-transparent);
	backdrop-filter:blur(10px);
}

.message-controls-wrapper{
	height:100%;
	width:calc(100% - var(--side-panel-extended-width) - 30px);
	margin-left:10px;
	display:flex;
	justify-content:center;
	transition:width 0.2s ease, transform 0.2s ease, margin 0.2s ease;
	position:relative;
}

.message-controls{
	background:var(--secondary-color-transparent-identical-on-primary);
	backdrop-filter:blur(10px);
	width:calc(100% - 20px);
	opacity:90%;
	transition:opacity 0.2s ease, transform 0.2s ease;
	border-radius:10px;
	transform:translateY(2.5px);
	display:flex;
	align-items:flex-end;
	padding-left:10px;
	padding-right:10px;
	gap:10px;
	position:absolute;
	bottom:25px;
	box-shadow:rgb(6 7 8 / 48%) 6px 2px 16px 0px, rgb(0 0 0 / 30%) -6px -2px 16px 0px;
}

.message-controls > .button-icon{
	height:39px;
	display:flex;
	align-items:center
}


.message-controls-wrapper:hover > .message-controls, .message-controls-focused, .message-controls:has(.message-input:focus){
	opacity:100%;
	transform:translateY(0px);
}

.message-controls.disabled{
	opacity:0%;
	transform:translate-y(45%);
}

.message-input-wrapper{
	width:100%;
	overflow-y:auto;
	max-height: calc(60px + 15vh);
}

.placeholdertext{
	color:gray;
	position:absolute;
	pointer-events:none;
	font-family:arial;
	margin-top:11px;
	display:none;
	text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(70vw - 175px);
    overflow: hidden;
}

.message-input-wrapper.empty > .placeholdertext{
	display:inline;
}

.message-input{
	background:transparent;
	width:100%;
	color:white;
	outline:none;
	border:none;
	font-size:16px;
	font-family:arial;
	padding-top:10px;
	padding-bottom:10px;
	resize: none;
	backface-visibility: hidden;
	transform:translateZ(0) perspective(1px);
	-webkit-font-smoothing: subpixel-antialiased;
	line-height:20px;
}

.strong{
	font-weight:bold;
}

.strong-wrapper{
	opacity:60%;
	font-weight:normal;
	font-style:normal;
}

.italic{
	font-style:italic;
}

.italic-wrapper{
	opacity:60%;
	font-weight:normal;
	font-style:normal;
}