<!DOCTYPE html>
 <html>
    <head>
        <meta charset="utf-8">
        <title> SilentChat </title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,300,0,-25" />
        <link rel="stylesheet" href="/static/styles/app.css"/>
        <script defer src="/static/scripts/app.js"></script>
    </head>
    <body>
        <div id="application-wrapper" class="application-wrapper side-panel-visible bottom-panel-hidden page-view-full-screen loading">
            <div class="side-panel-hover-zone"></div>
            <div class="h-wrapper">
                <div id="side-panel-wrapper" class="side-panel-wrapper"> 
                    <div class="side-panel">
                    </div>
                </div>
                <div id="page-view" class="page-view">
                    <div id="side-panel-drag-handle" class="side-panel-drag-handle"><span class="material-symbols-outlined">drag_indicator</span></div>
                    <div class="page-view-transition"></div>
                    <div class="chat-page-wrapper" id="chat-page-wrapper">
                        <div class="chat-page-titlebar"> 
                            <div class="chat-page-titlebar-content" id="chat-page-titlebar-content">
                                <div class="titlebar-content-user-profile-picture"><img src="/static/images/woman_placeholder_profile_picture.webp"></div>
                                <div class="titlebar-content-user-name-status-wrapper">
                                    <div class="titlebar-content-user-name">Mary Shepherd-Sunderland</div>
                                    <div class="titlebar-content-user-status">Last seen 3 years ago</div>
                                </div>
                            </div>
                        </div>
                        <div class="chat-page" id="chat-page">
                            <div class="chat-page-message-container" id="chat-page-message-container">
                            </div>
                        </div>
                    </div>
                    <!-- Other page types here -->
                </div>
            </div>
            <div class="bottom-panel">
                <div id="user-details-wrapper" class="user-details-wrapper">
                    <div class="user-details-card">
                        <span class="material-symbols-outlined">person</span>
                        <div class="user-name">{{ user.username }}</div>
                        <div class="user-full-name"></div>
                    </div>
                    <div class="user-details-actions">
                        <div class="settings button-icon">
                            <span class="material-symbols-outlined">settings</span>
                        </div>
                    </div>
                </div>
                <div id="message-controls-wrapper" class="message-controls-wrapper">
                    <div id="message-controls" class="message-controls">
                        <div class="embed-button button-icon"><span class="material-symbols-outlined">add_circle</span></div>
                        <div class="message-input-wrapper empty" id="message-input-wrapper">
                            <div class="placeholdertext"> Send message to Mary Shepherd-Sunderland </div>
                            <div contenteditable="true" class="message-input" placeholder="Send message to user" name="message-box" id="message-input" rows="1" resizeable="false"></div>
                        </div>
                        <div class="emoji-button button-icon"><span class="material-symbols-outlined">mood</span></div>
                        <div class="send button-icon"><span class="material-symbols-outlined">send</span></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
 </html>
