<!DOCTYPE html>
 <html>
    <head>
        <meta charset="utf-8">
        <title> SilentChat </title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,300,0,-25" />
        <link rel="stylesheet" href="/static/styles/app.css"/>
        <script src="/static/scripts/selection.js"></script>
        <script src="/static/scripts/app-connector.js"></script>
        <script src="/static/scripts/socket.js"></script>
        <script src="/static/scripts/classes.js"></script>
        <script defer src="/static/scripts/app.js"></script>
    </head>
    {% csrf_token %}
    <body>
        <div id="application-wrapper" class="application-wrapper side-panel-visible bottom-panel-hidden page-view-full-screen loading">
            <div class="side-panel-hover-zone"></div>
            <div class="h-wrapper">
                <div id="side-panel-wrapper" class="side-panel-wrapper"> 
                    <div id="side-panel" class="side-panel content-hidden">
                        <div id="friends-page-button" class="side-panel-button">
                            <span class="material-symbols-outlined">emoji_people</span>
                            Friends
                        </div>
                        <div class="side-panel-direct-messages-wrapper">
                            <div class="side-panel-direct-messages-header">
                                CHAT ROOMS
                            </div>
                            <ul id="direct-messages-container" class="side-panel-direct-messages-container">
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="page-view" class="page-view">
                    <div id="side-panel-drag-handle" class="side-panel-drag-handle"><span class="material-symbols-outlined">drag_indicator</span></div>
                    <div id="pages-wrapper" class="pages-wrapper">
                        <div id="page-transition" class="page-transition hidden"></div>
                        <div id="settings-page" class="settings-page-wrapper page-wrapper-default">
                            <div class="page-close-button" id="settings-page-close-button"><span class="material-symbols-outlined">close</span></div>
                            <h3 class="settings-page-title"> Settings </h3>
                            <hr class="settings-page-hr">
                            <h3 class="settings-page-header"> Account </h3>
                            <div class="settings-page-account-details">
                                <img class="settings-page-user-profile" id="settings-page-user-profile" src=""/>
                                <div class="settings-page-user-name" id="settings-page-user-name"></div>
                            </div>
                            <div class="settings-page-button"> <span class="material-symbols-outlined">edit_note</span> Edit account </div>
                            <div class="settings-page-button" id="settings-page-logout-button"> <span class="material-symbols-outlined">logout</span> Logout </div>
                            <div class="settings-page-button be-careful"> <span class="material-symbols-outlined">delete</span> Delete account </div>
                            <hr class="settings-page-hr">
                            <h3 class="settings-page-header"> Appearance </h3>
                            <div class="settings-page-button" id="settings-page-theme-button"> <span class="material-symbols-outlined">light_mode</span> Light Theme </div>
                        </div>
                        <div class="chat-page-wrapper" id="chat-page-wrapper">
                            <div class="chat-page-titlebar"> 
                                <div class="chat-page-titlebar-content hidden" id="chat-page-titlebar-content">
                                    <div class="titlebar-content-user-profile-picture"><img id="titlebar-content-user-profile-picture-elem" src=""></div>
                                    <div class="titlebar-content-user-name-status-wrapper">
                                        <div id="titlebar-content-user-name" class="titlebar-content-user-name"></div>
                                        <div id="titlebar-content-user-status" class="titlebar-content-user-status">User status</div>
                                    </div>
                                </div>
                            </div>
                            <div id="chat-page-no-room-selected" class="chat-page-no-room-selected hidden">
                                <h2 class="chat-page-header-text"> 
                                    <span class="material-symbols-outlined">sentiment_sad</span>
                                    <br>
                                    <br>
                                    Oops, no chat rooms yet!
                                    <br>
                                    <br>
                                    <span class="chat-room-create-link" id="create-chat-room-page-button">Click here to chat with a friend !</span>
                                </h2>
                            </div>
                            <div class="chat-page" id="chat-page">
                                <div class="chat-page-message-container" id="chat-page-message-container">
                                </div>
                            </div>
                        </div>
                        <div id="create-chatroom-page" class="create-chatroom-page-wrapper page-wrapper-default">
                            <div class="page-close-button" id="create-chat-room-page-close-button"><span class="material-symbols-outlined">close</span></div>
                            <h3 class="page-title"> Create chatroom </h3>
                            <hr class="page-hr">
                        </div>
                        <div id="friends-page" class="friends-page-wrapper page-wrapper-default">
                            <div class="page-close-button" id="friends-page-close-button"><span class="material-symbols-outlined">close</span></div>
                            <h3 class="page-title"> Friends </h3>
                            <hr class="page-hr">
                            <ul id="friends-list-container" class="friends-list-container">
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-panel">
                <div id="user-details-wrapper" class="user-details-wrapper">
                    <div class="user-details-card">
                        <img class="user-profile-picture" id="user-details-card-profile-picture" src=""/>
                        <div class="user-name" id="user-details-card-user-name"></div>
                        <div class="user-full-name"></div>
                    </div>
                    <div class="user-details-actions">
                        <div id="settings-button" class="settings button-icon">
                            <span class="material-symbols-outlined">settings</span>
                        </div>
                    </div>
                </div>
                <div id="message-controls-wrapper" class="message-controls-wrapper">
                    <div id="message-controls" class="message-controls">
                        <div class="embed-button button-icon"><span class="material-symbols-outlined">add_circle</span></div>
                        <div class="message-input-wrapper empty" id="message-input-wrapper">
                            <div class="placeholdertext" id="message-input-placeholdertext"></div>
                            <div contenteditable="true" spellcheck="false" class="message-input" placeholder="Send message to user" name="message-box" id="message-input" rows="1" resizeable="false"></div>
                        </div>
                        <div id="emoji-box" class="emoji-controller"></div>
                        <div id="emoji-button" class="emoji-button button-icon"><span class="material-symbols-outlined">mood</span></div>
                        <div id="send-button" class="send button-icon"><span class="material-symbols-outlined">send</span></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
 </html>