{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/main.css' %}">
    <title>Home page</title>
</head>
<body>
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}    
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}</p>
        {# <img src="{{ user.profile.profile_pic.url }}" alt="Profile image" width="200px" height="200px"> #} 
        
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <p>Welcome, guest</p>
        <a href="{% url 'signup' %}">Register</a>
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <p>Welcome to the home page</p>
    
</body>
</html>