<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>SilentChat</title>
        <link rel="stylesheet" href="/static/styles/style.css"/>
    </head>
    <body>
        <header>
            <div id="top_menu">
                <a href="/" id="title_link"><h2 id="main_title">SilentChat</h2></a>
                <nav>
                    <div style="display:flex;gap:10px;">
                        {% if user.is_authenticated %}
                        <p style='color:white;font-family:arial;font-size:16px;'> Hello {{ user.username }} </p>
                        <a href="/app"><h2 class="menu">Let's chat !</h2></a>
                        {% else %}
                            <a href="/login"><h2 class="menu">Login</h2></a>
                            <a href="/signup"><h2 class="menu">Signup</h2></a>
                        {% endif %}
                    </div>
                </nav>
            </div>
           
        </header>
        
        <div id="presentation">
            <h1>SilentChat :&nbsp;A chatting app</h1>
        </div>
        <div id="description">
            <p>SilentChat is a secure, distraction-free messaging app built for seamless communication. With a minimalist design,
                end-to-end encryption, and lightning-fast performance, it keeps your conversations private and focused.
                Speak softly, connect deeply, and enjoy a secure, clutter-free chatting experience.</p>
            <img src="/static/images/presentation.png" alt="image de l'application">
        </div>
    </body>
</html> 